<table width="100%" border="1" cellspacing="0" cellpadding="2" bordercolor="#000000" class="myTable">
  <tr>
    <th class="table_head">ID</th>
    <th class="table_head">Title</th>
    <th class="table_head">Customer name</th>
    <th class="table_head">TH Part #</th>
    <th class="table_head">Ref Spec.</th>
    <th class="table_head" colspan="3"></th>
  </tr>

<%= render :partial => "item", :collection => list %>

</table>
