<div id="tabs" style="width:75%">
    <ul>
        <li><a href="#tab-1"><span>Queued Documents</span></a></li>
        <li><a href="#tab-2"><span>Approved Documents</span></a></li>
        <li><a href="#tab-3"><span>Disapproved Documents</span></a></li>
    </ul>
    <div id="tab-1">
      <% @status = true %>
      <%=render :partial => "list", :locals => { :list => @queued } %>
    </div>
    <div id="tab-2">
      <% @status = false %>
      <%=render :partial => "list", :locals => { :list => @approved } %>
    </div>
    <div id="tab-3">
      <%=render :partial => "list", :locals => { :list => @disapproved } %>
    </div>
</div>

<script>
  $(document).ready(function() {
    $("#tabs").tabs();
  });
</script>